@import './styles/variables.css';

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}